/* global */
* {
    color: #e2e8f0;
    font-family: 'Poppins', sans-serif;
}
body {
    
    margin: 0;
    box-sizing: border-box;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
}

button:hover {
    background-color: #94a3b8;
}

/* page container styling */
.page-container {
    min-height: 100vh;
    display: grid;
    grid-template: 8% 1fr 8% / minmax(200px, 20%) 1fr;
}

/* header styling */
.page-container header {
    background-color: #334155;
    position: relative;
    text-align: center;
    border-bottom: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    box-shadow: 2px 8px 11px 3px rgba(0,0,0,0.75);
}

/* main content styling */

.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #94a3b8;
}

.add-task {
    padding: 1em 0;
    display: block;
    border: 1px solid white;
    border-radius: 12px;
}

.listed-task {
    border: 1px solid transparent;
    border-radius: 12px;
    border-left: 20px solid;
    height: 10%;
    background-color: #020617;
    display: grid;
    grid-template: 30% 1fr / 35% 35% 15% 15%;
    grid-template-areas:
        "domTitle domDate domDone domEdit"
        "domTitleValue domDateValue domDoneBtn domEditBtn";
    align-items: center;
}


.domTitle {
    grid-area: domTitle;
}

.domDate {
    grid-area: domDate;
}

.domDone {
    grid-area: domDone;
}

.domEdit {
    grid-area: domEdit;
}

.title-value {
    grid-area: domTitleValue;
}

.date-value {
    grid-area: domDateValue;
}

.done-btn {
    grid-area: domDoneBtn;
}

.edit-btn {
    grid-area: domEditBtn;
}


/* sidebar styling */

.sidebar {
    width: inherit;
    display: grid;
    grid-template-rows: 30% 1fr;
    background-color: #94a3b8;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    gap: 30px;
}

/* first section styling */

.first-section {
    position: relative;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    box-shadow: 4px 5px 14px 3px rgba(0,0,0,0.75)  

}

.first-section>button {
    padding: 0.5em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex: 1;
}

button span {
    width: 6em;
}

/* second section styling */

.second-section {
    position: relative;    
    color: #334155;
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    grid-row: 2 / 3;
    box-shadow: 7px -3px 10px 0px rgba(0,0,0,0.75)
}

.second-section .new-project {
    padding: 1em;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    height: 3em;
}

.project-list i {
    padding: 4px;
}

i:hover,
.add-task:hover,
header>button:hover,
.note-btn:hover {
    cursor: pointer;
}

/* footer styling */
footer {
    background-color: #334155;
    border-top: 1px solid black;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    text-align: center;
}

/* form dialog styling */
dialog {
    background-color: #020617;
    border: 1px solid white;
    border-radius: 12px;
}

input {
    padding: 10px;
    border-radius: 12px;
}

form label {
    display: grid;
    margin-bottom: 15px;
}

select {
    font-size: 1.2em;
    text-align: center;
    border-radius: 8px;
    background-color: #020617;
}

input:focus {
    outline-style: none;
    background-color: #94a3b8;
}

dialog form {
    display: flex;
    flex-direction: column;
}

form p {
    text-align: center;
}

dialog::backdrop {
    background-color: #94a3b862;
}

/* this task styling */

#this-task-dialog :nth-child(4) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    word-break: break-all;
}

#this-task-dialog {
    width: 90%;
    height: 50%;
    display: grid;
    grid-template: 20% 10% 1fr 20% / 9fr 1fr;
};

#this-task-dialog button {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
};





